
// wrap
// bodyのdarkに`$gray_stripe`を重ねている
.ui {
  background: $gray_stripe;
}

/* column */
.column > .scrollable,
.getting-started,
.column-inline-form,
.error-column,
.regeneration-indicator {
  background: $dark_stripe;
}

/* drawer */
.drawer {
  .search {
    background: $dark_stripe;
  }
  &__header {
    background: $pink_jagged;
    border-radius: 15px 15px 0 0;
    overflow:hidden;
  }
  &__inner {
    background: $dark_stripe;
    &__mastodon {
      background: none;
      background-image: $ink;
      background-repeat: no-repeat;
      // todo:PCレイアウトだとbottom指定で画像が消えるかも
      background-position: left bottom;
      img {
        display: none;
      }
    }
  }
}

/* tab */
.tabs-bar {
	background: $pink_jagged;
	border-radius: 15px 15px 0 0;
	border: none;
  overflow: hidden;
  &__link {
    color: $black_1;
    border: none;
    &:active, &:hover, &:focus {
      background: $black_05;
      border: none;
      color: $white_1;
    }
  }
}

/* column */
.column-header {
  background: $gray_jagged;
  border-radius: 15px 15px 0 0;
  color: $black_1;
  &__button {
    background: none;
    color: $black_1;
    &:active, &:hover, &:focus {
      background: none;
      color: $black_1;
    }
  }
  &__back-button {
    background: none;
    color: $black_1;
  }
}
.column-back-button {
  background: $black_05;
  border-radius: 15px 15px 0 0;
  color: $white_1;
}

/* account */
.account__header
  >div {
    background: none;
}

/* scrollbar */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background: $white_05;
}

::-webkit-scrollbar:active {
	width: 8px;
	background: $bg_opacity_0;
	&:hover {
		background: $bg_opacity_0;
	}
}
