// `ika-style.scss`から移植

$gray_stripe: repeating-linear-gradient(45deg, #C9C7C5, #C9C7C5 10px, #BDBBB9 0, #BDBBB9 20px);
$pink_stripe: repeating-linear-gradient(45deg, #F1317F, #F1317F 10px, #DE2C6F 0, #DE2C6F 20px);
$orange_stripe: repeating-linear-gradient(45deg, #E76615, #E76615 10px, #FC7218 0, #FC7218 20px);
$dark_stripe: repeating-linear-gradient(45deg, #1f1f1f, #1f1f1f 10px, #252525 0, #252525 20px);

$bg_opacity_0: rgba(0,0,0,0);
$black_1: #000;
$black_05: rgba(0,0,0,.5);
$white_1: #fff;
$white_05: rgba(255,255,255,.5);
$white_03: rgba(255,255,255,.3);
$white_01: rgba(255,255,255,.1);
$orange_1: #FD751D;
$blue_1: #1613e6;
$lightblue_1: #1dc8ef;
$green_1: #21ea80;
$yellow_1: #c9f21b;
$purple_1: #9600ff;
$gray_1: #C4C2C0;
$dark_1: #272727;
$dark_09: rgba(39,39,39,.9);
$shadow: rgba(255,255,255,.2);
$transition: all 100ms ease-in;
